@import '../variables/Variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  float: right;

  .header {
      letter-spacing: 3px;
  }

  .text {
    width: 350px;
    font-size: 14px;
    justify-content: center;
  }

  .me {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid;
    border-color: $navLinkColor;
    border-width: 2px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
    margin-right: 0%;
  }
}
