@import '../variables/Variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: solid;
  border-width: 1px;
  border-color: red;
}

.container {
  width: 25%;
  border: solid;
  border-width: 1px;
  padding-top: 100px;
  border-color: green;

  .header {
    margin-right: 12.5%;
  }

  .text {
    width: 400px;
    font-size: 14px;
    margin-right: 5%;
    justify-content: center;
  }

  .me {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid;
    border-color: $navLinkColor;
    border-width: 2px;
  }
}