@import '../variables/Variables.scss';

.navbar {
  height: 80px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: $navbarColor;
  display: flex;
  position: sticky;
  
  .navStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 3;

    .logo {
      justify-content: flex-start;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      cursor: pointer;
    }
  }

  .navCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .navLink {
      text-decoration: none;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      font-size: 20px;
      transition: 600ms;
    }
    
    .navLink:hover {
      color: white !important;
    }
  }

  .navEnd {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 3;
  }

  .loginBtn {
    color: $navLinkColor;
    background-image: $navbarColorGradient;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: $navLinkFont;
    font-size: 20px;
    letter-spacing: 2px;
    border: solid;
    border-radius: 4px;
    border-width: 1px;
    transition: 600ms;
  }

  .loginBtn:hover {
    color: white;
    background-image: $orangeToPinkGradient;
  }
}