@import '../variables/Variables.scss';

.navbar {
  height: 80px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: $navbarColor;
  display: flex;
  position: sticky;
  
  .navStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 3;

    .logo {
      justify-content: flex-start;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      cursor: pointer;
    }
  }

  .navCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .navLink {
      text-decoration: none;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      font-size: 20px;
    }
  }

  .navEnd {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 3;
  }
}
