@import '../variables/Variables.scss';

.navbar {
  height: 80px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: $navbarColor;
  display: flex;
  position: sticky;

  .navStart {
    display: flex;
    width: 33%;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 5;

    .logo {
      justify-content: flex-start;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      cursor: pointer;
    }
  }

  .navCenter {
    display: flex;
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;

    .homeIcon,
    .blogIcon,
    .coursesIcon {
      text-decoration: none;
      fill: $navLinkColor !important;
      color: $navLinkColor !important;
      font-family: $navLinkFont !important;
      font-size: 20px;
      transition: 600ms;

      :hover {
        color: white !important;
        fill: white !important;
        transition: 600ms;
      }
    }
  }

  .homeIconMobile,
  .blogIconMobile,
  .coursesIconMobile {
    padding: 20px;
  }

  @media only screen and (max-width: 992px) {
    .homeIcon,
    .blogIcon,
    .coursesIcon {
      display: none;
    }
  }

  @media only screen and (min-width: 992px) {
    .homeIconMobile,
    .blogIconMobile,
    .coursesIconMobile {
      display: none;
    }
  }

  .navEnd {
    display: flex;
    width: 33%;
    justify-content: right;
    align-items: center;
    flex-grow: 5;
  }
}

.dialogBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;

  
  .loginImg {
    float: right;
    align-items: center;
    padding-left: 5px;
    width: 13%;
    filter: invert(100%);
  }
}

.googleBtn {
  font-size: 16px !important;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $googleBlue;
  border-radius: 4px;
  color: white;
  border-width: 1px;
  border-color: grey;
  padding: 5px;
  cursor: pointer;
  transition: 600ms;
}
.googleBtn:hover {
  border-color: white;
}

.logoutBtn {
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $signOut;
  border: solid;
  color: white;
  border-radius: 4px;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: 600ms;
}

.logoutBtn:hover {
  border-color: grey;
}
