// COLORS
$appBackgroundColor: #080c12;

$navbarColor: #1f242b;
$navLinkColor: #99a5b9;
$mobileNavColor: #13181e;

// GRADIENTS
$navbarColorGradient: linear-gradient(117deg, rgba(31,36,43,1) 0%, rgba(31,36,43,1) 100%);
$orangeToPinkGradient: linear-gradient(117deg, rgba(255,160,70,1) 38%, rgba(255,0,127,1) 100%);

// FONTS
$navLinkFont: 'Fredoka One', cursive;