@import '../variables/Variables.scss';

.container {
  .title {
    display: flex;
    justify-content: center;
    font-size: 70px;
  }
  .text {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}
